/* A. Dean Kelly Styles */


@media (min-width: 0px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
  }
  main {
    display: grid;
    position: relative;
    margin: 32px 16px;
    max-width: 720px;
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  h1, h2, h3 {
    margin: 16px 0;
    color: #041e42;
    font-family: "Urbanist", serif;
    font-weight: 700;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.25em;
  }
  h3 {
    font-size: 2.75em;
  }
  p, li {
    font-family: "Open Sans", serif;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  section#info {
    display: grid;
    position: relative;
    grid-row: 1;  
    grid-gap: 32px;
    grid-template-columns: 1fr 2fr;
  }
  img.avatar {
    width: 100%;
    border-radius: 50% 50%;
  }
}

@media (min-width: 752px) {
  main {
    margin: 32px auto;
  }
}

@media (min-width: 1312px) {
  main {
    margin: 32px auto;
    max-width: 1280px;
    grid-template-columns: 1fr 320px;
  }
  section#info {
    display: initial;
    position: sticky;
    top: 32px;
    padding-left: 32px;
    height: min-content;
    grid-row: initial;
    border-left: 2px #041e42 solid;
  }
}

